
@font-face {
    font-family:"Against";
    src: url("../fonts/against.ttf") format("truetype");
}
@font-face {
    font-family:"Raleway";
    font-weight: 400;
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family:"Raleway";
    font-weight: 600;
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: #FFF;
}

.holder{
    display: flex;
    max-width: 1080px;
    padding: 10px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 20px;
}

.title{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

h1{
    color: #000;
    text-align: right;
    font-family: against;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title img{
    max-height: 524px;
}

.byLine{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-bottom: 1px dashed #000;
}
h2{
    color: #000;
    text-align: center;
    font-family: against;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about{
    display: flex;
    padding: 10px 10px 20px 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-bottom: 1px dashed #000;
}
p{
    
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.spacer{
    width: 0px;
    align-self: stretch;
    border-right: 1px dashed #000;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    color: #E45826;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: against;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.down{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px dashed #000;
}
.itemHolder{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}
.item{
    display: flex;
width: 500px;
min-width: 500px;
max-width: 500px;
justify-content: center;
align-items: flex-start;
gap: 10px;
}
.info{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
}
h3{
    color: #000;
text-align: center;
font-family: against;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.item img{
    width: 190px;
    height: 176px;
    flex-shrink: 0;
}